<p>Hi {{order.customer.first_name}},</p>
<p>Thank you for your order! We're excited to let you know that your order
    <strong>#{{order.display_id}}</strong>
    has been placed successfully.
</p>

<h3>Order Summary</h3>
<table class="order-details">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each order.items}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.quantity}}</td>
            <td>{{this.total_formatted}}</td>
        </tr>
        {{/each}}
        <tr>
            <td>Shipping</td>
            <td>1</td>
            <td>{{order.shipping_total_formatted}}</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: right;"><strong>Total</strong></td>
            <td><strong>{{order.total_formatted}}</strong></td>
        </tr>
    </tbody>
</table>

<h3>Shipping Information</h3>
<p>
    {{order.shipping_address.first_name}} {{order.shipping_address.last_name}}<br>
    {{order.shipping_address.address_1}}<br>
    {{order.shipping_address.address_2}}<br>
    {{order.shipping_address.city}}, {{order.shipping_address.postal_code}}<br>
    {{order.shipping_address.country.display_name}}
</p>

<a href="#" class="button">Track your order</a>